spring:
  datasource:
    url: jdbc:postgresql://${PGHOST}:${PGPORT}/${PGDATABASE}
    username: ${PGUSER}
    password: ${PGPASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: ${PORT:8080}

google:
  gemini:
    api-key: ${GEMINI_API_KEY}

gemini:
  model:
    name: gemini-2.5-flash

logistics:
  customs:
    api-url: https://comtrade.un.org/data/doc/api/

hscode:
  server-url: https://hs-code-validator.onrender.com